<div id="decidim-toggle-callout" class="callout alert mt-8">
  <div class="callout-content">
    <h4 class="h4 font-bold pb-2 encryption_not_configured_title"><%= t("decidim_toggle.system.organizations.encryption_not_configured_title") %></h4>
    <p class="encryption_not_configured_body"><%= t("decidim_toggle.system.organizations.encryption_not_configured") %></p>
  </div>
</div>
