<% organization = local_assigns[:organization] || (f&.object&.respond_to?(:id) && Decidim::Organization.find_by(id: f.object.id)) || f&.object %>
<% tab_form = tab.form_class.from_model(organization) %>
<%= form_with url: decidim_toggle_update_settings_tab_organization_path(organization, tab_id: tab.identifier),
              model: tab_form,
              scope: :organization,
              builder: Decidim::Toggle::SettingsFormBuilder,
              method: :patch,
              html: { id: "settings_tab_form_#{tab.identifier}" },
              local: true do |tf| %>
  <div class="form__wrapper">
    <%= tf.all_fields %>
  </div>
<% end %>
