<% organization = local_assigns[:organization] %>
<% tab = local_assigns[:tab] %>
<%= decidim_toggle_settings_tab_form(organization, tab) do |tf| %>
  <fieldset>
    <legend class="form-legend"><%= t("decidim_toggle.system.organizations.authorizations_tab.legend") %></legend>
    <p class="text-sm text-gray-2 mb-4"><%= t("decidim_toggle.system.organizations.authorizations_tab.hint") %></p>
    <%= tf.all_fields %>
  </fieldset>
<% end %>
